<!DOCTYPE html>

<!--
1. (10pts) Create a list of 4 cities (atleast) on a displayable web page. The
user must be able to pick his choice of city.
2. (20pts) Store this above city name in a relational database on your EC2 web
server, along with temperature information for the city acquired using the
python Weather API.
3. (20pts) Expand your code such that, the user has the option to select the
source & destination city. Your web page should display the temperature at each
of those locations, acquired using method 2 above.
4. (20pts) Finally, using the Google Maps API, display a route between them.
You are free to use a web framework of your choice for the project. However,
for the purpose of this exercise, you are expected to work with Django.
-->

<html>
<head>
    <title>Lab 6: Assignment 2</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      var render_map = function initMap() {
        var s = document.getElementById('source');
        var d = document.getElementById('dest');
        //document.write(s.value);
        //document.write(d.value);
        if (s.value == 'ny') {
            var source = {lat: 40.705565, lng: -74.1180859};
        } else if (s.value == 'no') {
            var source = {lat: 30.0215694, lng: -90.022554};
        } else if (s.value == 'bs') {
            var source = {lat: 45.2597015, lng: -111.3141066};
        } else if (s.value == 'sf') {
            var source = {lat: 37.788337, lng: -122.4959122};
        } else {
            document.write('<p>Select Something</p>');
        }
        if (d.value == 'ny') {
            var dest = {lat: 40.705565, lng: -74.1180859};
        } else if (d.value == 'no') {
            var dest = {lat: 30.0215694, lng: -90.022554};
        } else if (d.value == 'bs') {
            var dest = {lat: 45.2597015, lng: -111.3141066};
        } else if (d.value == 'sf') {
            var dest = {lat: 37.788337, lng: -122.4959122};
        } else {
            document.write('<p>Select Something</p>');
        }
        //console.log(source);
        //console.log(dest);
        var pointA = new google.maps.LatLng(source), // New York
            pointB = new google.maps.LatLng(dest), // New Orleans
            myOptions = {
                zoom: 7,
                center: pointA
            },
            map = new google.maps.Map(document.getElementById('map'), myOptions),
            // Instantiate a directions service.
            directionsService = new google.maps.DirectionsService,
            directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            }),
            markerA = new google.maps.Marker({
                position: pointA,
                title: "point A",
                label: "A",
                map: map
            }),
            markerB = new google.maps.Marker({
                    position: pointB,
                    title: "point B",
                    label: "B",
                    map: map
            });

        // get route from A to B
        calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
      }
      function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
          directionsService.route({
              origin: pointA,
              destination: pointB,
              avoidTolls: true,
              avoidHighways: false,
              travelMode: google.maps.TravelMode.DRIVING
          }, function (response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
              } else {
                  window.alert('Directions request failed due to ' + status);
              }
          });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbMoxSzeGC4-hsFAclI6bgEKzfpnEuatA"></script>
</head>
<body>
    <div class="pad">Pick a city:</div>
    <!-- NOAA: New York City, Central Park (KNYC) -->
    <div class="city"><a href="../a2/1/celsius">New York, NY</a></div>
    <!-- NOAA: New Orleans, Naval Air Station - Alvin Callender Field (KNBG) -->
    <div class="city"><a href="../a2/2/celsius">New Orleans, LA</a></div>
    <!-- NOAA: Ennis - Big Sky Airport (KEKS) -->
    <div class="city"><a href="../a2/3/celsius">Big Sky, MT</a></div>
    <!-- NOAA: San Francisco, San Francisco International Airport (KSFO) -->
    <div class="city"><a href="../a2/4/celsius">San Francisco, CA</a></div>
    <div class="pad"><br><br></div>
    <div class="pad">Or plan a trip:</div>
    <div class="dropdown">
    <select id="source">
        <option>Select Source City</option>
        <option value="ny"><a href="cities/ny.html">New York, NY</a></option>
        <option value="no"><a href="cities/no.html">New Orleans, LA</a></option>
        <option value="bs"><a href="cities/bs.html">Big Sky, MT</a></option>
        <option value="sf"><a href="cities/sf.html">San Francisco, CA</a></option>
    </select>
    </div>
    <div class="dropdown">
    <select id="dest">
        <option>Select Destination City</option>
        <option value="ny"><a href="cities/ny.html">New York, NY</a></option>
        <option value="no"><a href="cities/no.html">New Orleans, LA</a></option>
        <option value="bs"><a href="cities/bs.html">Big Sky, MT</a></option>
        <option value="sf"><a href="cities/sf.html">San Francisco, CA</a></option>
    </select>
    </div>
    <div class="submit"><input id="btn" type="button" value="Submit"></div>
    <div class="pad"><br><br></div>

    {% if latest_temp %}
        <div class="dropdown">
        {% for temp in latest_temp %}
            <a href="/a2/{{ temp.id }}/">{{ temp.temp_c }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No temperature readings are available.</p>
    {% endif %}

    {% if latest_temp %}
        <div class="dropdown">
        {% for temp in latest_temp %}
            <a href="/a2/{{ temp.id }}/">{{ temp.temp_c }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No temperature readings are available.</p>
    {% endif %}

    <div id="map"></div>
    <div class="footer"></div>
    <script type="text/javascript">
        var btn = document.getElementById('btn');
        btn.addEventListener('click', function(e) {
            render_map();
        });
    </script>
</body>
</html>
